.card {
  text-align: center;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  width: 150px; 
  box-shadow: 2px 2px 8px rgba(2, 2, 2, 2);
  background-color: #fff;
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
}

.card-image {
  width: 100px;
  height: 100px;
  object-fit: contain; 
  margin-bottom: 10px;
}

.card-title {
  text-transform: capitalize; 
  font-weight: bold;
  color: #333;
  margin: 0;
}